$main-width: 500px;
$city-width: 300px;
$fade-in-duration: 1s;
$container-bg: #d6d6d6;
$error-modal-bg: rgba(0, 0, 0, 0.4);
$modal-content-bg: #fefefe;
$border-color: rgba(211, 220, 50, .6);

.weather-app {
  display: flex;
  justify-content: center;
}

.weather-input-label {
  display: flex;
  justify-content: space-around;
  width: $main-width;
  margin: 0 auto;
  height: 20px;
}

#city {
  width: $city-width;
  text-align: center;
}

#weather-info-container {
  background-color: $container-bg;
  border: 4mm ridge $border-color;
  margin: 20px;
  padding: 10px;
}

#weather-flex {
  display: flex;
  justify-content: space-evenly;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn $fade-in-duration ease-in;
}

.error-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $error-modal-bg;
}

.error-modal-content {
  background-color: $modal-content-bg;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}
