.paginationButtons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  cursor: pointer;

  li {
    margin: 0 1rem;
    border: 1px solid #ffffff;
    border-radius: 4px;

    a {
      display: block;
      padding: 0.5rem 1rem;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.previousButton,
.nextButton {
  font-weight: bold;
  font-size: 1rem;
}

.paginationDisabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: line-through;
}

.paginationActive {
  background-color: #9bcfe6;
  color: white;
  font-weight: bold;

  a {
    color: white;
  }
}

.countries-container {
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  margin: 0 auto;
}
